Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Explore commonly used libraries in data science.
- Introduce common development environment tools.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow
6. Keras

Data Science Tools

- Jupyter Notebook
- RStudio
- Visual Studio Code

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#this a simple arithmetic expression to mutiply then add integers

17

In [2]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
James Nyanga